<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.liiwe.moneybook.mapper.SysRoleMapper">

    <select id="selectUserRoleByUid" resultType="com.liiwe.moneybook.base.bean.entity.SysRole"
            parameterType="java.lang.Long">
        SELECT *
        FROM t_sys_role
        WHERE id IN (SELECT role_id FROM t_user_role WHERE uid = #{uid})
        AND status = 1
    </select>

</mapper>