<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.liiwe.moneybook.mapper.TransactionMapper">

    <insert id="batchInsertTransaction" parameterType="java.util.List">
        INSERT INTO t_transaction (`title`,`amount`,`type`,`cid`,`username`,`remark`,`trans_time`,`record_time`,`create_at`)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.title}, #{item.amount}, #{item.type}, #{item.cid}, #{item.username}, #{item.remark}, #{item.transTime},
            #{item.recordTime}, now())
        </foreach>
    </insert>

    <!-- 按月统计收入 -->
    <select id="statMonthlyTotalAmount" resultType="com.liiwe.moneybook.base.bean.dto.MonthlyTotalAmountDto">
        SELECT DATE_FORMAT(`trans_time`, '%Y-%m') AS month,
               SUM(`amount`)  AS totalAmount
        FROM T_TRANSACTION
        WHERE `type` = #{transType}
        AND `username` = #{username}
        GROUP BY month
        ORDER BY month
    </select>

</mapper>