<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.liiwe.moneybook.mapper.TransactionMapper">

    <insert id="batchInsertTransaction" parameterType="java.util.List">
        INSERT INTO t_transaction
        (`title`,`amount`,`type`,`cid`,`username`,`remark`,`trans_time`,`record_time`,`create_at`)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.title}, #{item.amount}, #{item.type}, #{item.cid}, #{item.username}, #{item.remark},
            #{item.transTime},
            #{item.recordTime}, now())
        </foreach>
    </insert>

    <!-- 按月统计收入 -->
    <select id="statMonthlyTotalAmount" resultType="com.liiwe.moneybook.base.bean.dto.MonthlyTotalAmountDto">
        SELECT DATE_FORMAT(`trans_time`, '%Y-%m') AS month,
               SUM(`amount`)  AS totalAmount
        FROM T_TRANSACTION
        WHERE `type` = #{transType}
          AND YEAR (`trans_time`) = #{year}
          AND `username` = #{username}
        GROUP BY month
        ORDER BY month
    </select>

    <select id="statCardData" resultType="com.liiwe.moneybook.base.bean.dto.YearlyStatCardDto">
        SELECT SUM(CASE WHEN type = 1 THEN amount ELSE 0 END) AS totalIncome,
               SUM(CASE WHEN type = 2 THEN amount ELSE 0 END) AS totalExpense,
               SUM(CASE WHEN type = 3 THEN amount ELSE 0 END) AS totalBoth
        FROM T_TRANSACTION
        WHERE YEAR (trans_time) = #{year}
          AND `username` = #{username}
    </select>

    <select id="statIncomeByCategory" resultType="com.liiwe.moneybook.base.bean.dto.CategoryIncomeDto">
        SELECT c.name                   AS categoryName,
               IFNULL(SUM(t.amount), 0) AS totalIncome
        FROM t_category c
                 LEFT JOIN T_TRANSACTION t ON t.cid = c.id and YEAR (t.trans_time) = #{year} AND t.`username` = #{username}
        WHERE c.type = 1
          AND c.level = 2
        GROUP BY c.id, c.name
    </select>

    <select id="statExpenseByCategory" resultType="com.liiwe.moneybook.base.bean.dto.CategoryExpenseDto">
        SELECT IFNULL(c.path,"undefined")        AS categoryName,
               IFNULL(SUM(t.amount), 0) AS totalExpense,
               COUNT(t.id) AS count
        FROM T_TRANSACTION t
                 LEFT  JOIN t_category c ON c.id = t.cid
        WHERE t.type = 2
            AND YEAR (t.trans_time) = #{year}
            AND t.`username` = #{username}
        GROUP BY c.id, c.name
        ORDER BY totalExpense DESC
    </select>

    <select id="selectLargeConsume" resultType="com.liiwe.moneybook.base.bean.dto.LargeConsumeDto">
        SELECT trans_time AS transTime,
               title,
               amount
        FROM T_TRANSACTION t
        WHERE t.`type` = 2
            AND t.`amount` >= #{threshold}
        AND YEAR (t.trans_time) = #{year}
        AND t.`username` = #{username}
        ORDER BY transTime DESC
    </select>

    <select id="statTabulateData" resultType="com.liiwe.moneybook.base.bean.dto.TabulateDto">
        SELECT
            IFNULL(c.name, '合计')                                         AS "categoryName",
            SUM(CASE WHEN MONTH(t.trans_time)= 1 THEN t.amount ELSE 0 END) AS "month_1",
            SUM(CASE WHEN MONTH(t.trans_time)= 2 THEN t.amount ELSE 0 END) AS "month_2",
            SUM(CASE WHEN MONTH(t.trans_time)= 3 THEN t.amount ELSE 0 END) AS "month_3",
            SUM(CASE WHEN MONTH(t.trans_time)= 4 THEN t.amount ELSE 0 END) AS "month_4",
            SUM(CASE WHEN MONTH(t.trans_time)= 5 THEN t.amount ELSE 0 END) AS "month_5",
            SUM(CASE WHEN MONTH(t.trans_time)= 6 THEN t.amount ELSE 0 END) AS "month_6",
            SUM(CASE WHEN MONTH(t.trans_time)= 7 THEN t.amount ELSE 0 END) AS "month_7",
            SUM(CASE WHEN MONTH(t.trans_time)= 8 THEN t.amount ELSE 0 END) AS "month_8",
            SUM(CASE WHEN MONTH(t.trans_time)= 9 THEN t.amount ELSE 0 END) AS "month_9",
            SUM(CASE WHEN MONTH(t.trans_time)=10 THEN t.amount ELSE 0 END) AS "month_10",
            SUM(CASE WHEN MONTH(t.trans_time)=11 THEN t.amount ELSE 0 END) AS "month_11",
            SUM(CASE WHEN MONTH(t.trans_time)=12 THEN t.amount ELSE 0 END) AS "month_12",
            SUM(t.amount)                                  AS "total"
        FROM      T_CATEGORY      c
                      JOIN      T_TRANSACTION   t
                                ON  t.cid = c.id
                                    AND t.type = 2
                                    AND YEAR (t.trans_time) = #{year}
            AND t.`username` = #{username}
        GROUP BY  c.name
        WITH ROLLUP
    </select>
</mapper>